body {
	font-family: '微软雅黑';
	margin: 0 auto;
	padding: 0;
	background: #f7f3ed;
	font-size: 16px;
	color: #4c4c4c;
}

.wrap{
	width: 100%;
}
.wrap .title {
	width: 1000px;
	height: 60px;
	line-height: 60px;
	color: #8e6a4d;
	margin: 0 auto;
	background-image: url(../images/bg_top.png);
	font-size: 28px;
	font-weight: bold;
}
.wrap .header .tab {
	width: 100%;
	background:#8e6a4d;
}
.wrap .header ul {
	width: 1000px;
	height: 40px;
	margin: 0 auto;
	background:#8e6a4d;
	line-height: 40px;
	text-align: left;
}
.wrap .header ul li {
	display: inline-block;
	padding: 0 16px;
}
.wrap .header ul li a {
	color: #fff;
	font-size: 16px;
	display: inline-block;
}
.wrap .header ul li:hover,
.wrap .header ul li.active {
	background: #694121;
}
.wrap .banner {
	width: 1000px;
	padding:10px 0;
	margin: 0 auto;
	display:-webkit-flex;
	display:flex;
}
.wrap .banner .leftImg {
	width: 338px;
	height:180px;
}
.wrap .banner .search{
	width: 550px;
	padding-right: 40px;
}
.wrap .banner .search img{
	display: inline-block;
	width: 72px;
	height: 48px;
}
.wrap .banner .search .text{
	display: inline-block;
	width: 380px;
	height: 40px;
	outline: none;
	border: none;
	font-size: 16px;
}
.wrap .banner .search .btn{
	display: inline-block;
	width: 100px;
	height: 40px;
	color: #fff;
	background:#8e6a4d;
	border: none;
	margin-left: 10px;
	font-size: 16px;
}
.wrap .banner .rightImg {
	width: 130px;
	height:180px;
}
.wrap .banner .search ul{
	margin-top: 20px;
}
.wrap .banner .search ul li{
	float: left;
	padding:0 5.5px;
}
.wrap .banner .search ul li a{
	font-size: 14px;
	color: #a68b77;
}
.wrap .banner .search ul li a:hover{
	color: red;
}
.wrap .banner .search ul li:first-child a{
	color: #b2b2b2;
}
.wrap .logo{
	width: 1000px;
	height: 60px;
	margin: 0 auto;
}
.wrap .logo ul li{
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 24px;
	border-radius: 100%;
	background-image: url(../images/bg_icon.png);
	text-align: center;
	line-height: 150px;
}
.wrap .logo ul li:hover{
	width: 62px;
	height: 62px;
	border-radius: 100%;
	background-image:none;
	background:#8e6a4d;
}
.wrap .logo ul li a{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: center;
	color: #8e6a4d;
}
.wrap .logo ul li:first-child{
	margin-left: 0;
}
.wrap .logo ul li:first-child a{
	background-image: url(../images/person_1.png);
}
.wrap .logo ul li:nth-child(2) a{
	background-image: url(../images/animal_1.png);
}
.wrap .logo ul li:nth-child(3) a{
	background-image: url(../images/nature_1.png);
}
.wrap .logo ul li:nth-child(4) a{
	background-image: url(../images/yi_1.png);
}
.wrap .logo ul li:nth-child(5) a{
	background-image: url(../images/body_1.png);
}
.wrap .logo ul li:nth-child(6) a{
	background-image: url(../images/life_1.png);
}
.wrap .logo ul li:nth-child(7) a{
	background-image: url(../images/active_1.png);
}
.wrap .logo ul li:nth-child(8) a{
	background-image: url(../images/all_1.png);
}.wrap .logo ul li:nth-child(9) a{
	 background-image: url(../images/love_1.png);
 }
.wrap .logo ul li:nth-child(10) a{
	background-image: url(../images/gui_1.png);
}
.wrap .logo ul li:nth-child(11) a{
	background-image: url(../images/home_1.png);
}
.wrap .logo ul li:nth-child(12) a{
	background-image: url(../images/other_1.png);
}
.wrap .logo ul li a:hover{
	width: 62px;
	height: 62px;
	color: #9e803d;
}
.wrap .logo ul li:first-child a:hover{
	background-image: url(../images/person_2.png);
}
.wrap .logo ul li:nth-child(2) a:hover{
	background-image: url(../images/animal_2.png);
}
.wrap .logo ul li:nth-child(3) a:hover{
	background-image: url(../images/nature_2.png);
}
.wrap .logo ul li:nth-child(4) a:hover{
	background-image: url(../images/yi_2.png);
}
.wrap .logo ul li:nth-child(5) a:hover{
	background-image: url(../images/body_2.png);
}
.wrap .logo ul li:nth-child(6) a:hover{
	background-image: url(../images/life_2.png);
}
.wrap .logo ul li:nth-child(7) a:hover{
	background-image: url(../images/active_2.png);
}
.wrap .logo ul li:nth-child(8) a:hover{
	background-image: url(../images/all_2.png);
}
.wrap .logo ul li:nth-child(9) a:hover{
	background-image: url(../images/love_2.png);
}
.wrap .logo ul li:nth-child(10) a:hover{
	background-image: url(../images/gui_2.png);
}
.wrap .logo ul li:nth-child(11) a:hover{
	background-image: url(../images/home_2.png);
}
.wrap .logo ul li:nth-child(12) a:hover{
	background-image: url(../images/other_2.png);
}
.wrap .container {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	/*margin-top: 50px;*/
	margin-bottom: 60px;
	/*border: 1px solid #f1e1d4;*/
	/*-moz-box-shadow:1px 1px 5px #8E6A4D;*/
	/*-webkit-box-shadow:1px 1px 5px #8E6A4D;*/
	/*box-shadow:1px 1px 5px #8E6A4D;*/
}
.wrap .container .subnav a{
	font-size: 14px;
	color: #4c4c4c;
	margin-right:5px;
}
.wrap .container .content{
	height: 800px;
	overflow: hidden;
	background: #fcfaf8;
	margin-top:10px;
}

.left-main{
	width: 720px;
	height: 100%;
}
ul.list-item {
	width: 100%;
	height: auto;
	overflow: hidden;
}
ul.list-item li {
	float: left;
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 20px 15px;
	/*padding-bottom: 20px;*/
	border-bottom:1px solid #f7f2ed;
}
ul.list-item li a{
	display: block;
}
ul.list-item li .img-wrap {
	float: left;
	display: block;
	width: 120px;
	height: 80px;
	overflow: hidden;
	font-size: 0;
	position: relative;
}
ul.list-item li .left-text{
	flex: left;
}
ul.list-item li h1{
	padding:0 12px;
	font-size: 14px;
	font-weight: bold;
	color: #8e6a4d;
}
ul.list-item li p {
	/*float: left;*/
	height: 50px;
	/*width: 172px;*/
	line-height: 25px;
	font-size: 14px;
	color: #333;
	padding:0 12px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.right-main{
	width: 270px;
	height: 100%;
}