body{font-family:'微软雅黑';margin:0 auto;padding:0;background:#fff;font-size:12px;color:#333;}
body > div{margin-right:auto;margin-left:auto;}
div,form,ul,ol,li,span,p{margin:0;padding:0;border:0;}
img,a img{border:0;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
ul,ol,li{list-style:none}
table,td,input{font-size:12px}
* {margin: 0; padding: 0;}
a{outline-style:none;color:#333;text-decoration:none}
a:hover{color:#c00;text-decoration:none;}
.clearfix:after {
	display: block;
	content: "";
	clear: both;
}
a.img-wrap,
span.img-wrap {
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
img {
	width: 100%;
    height: 100%;
    vertical-align: middle;
    -webkit-transition: all .5s ease-out .1s;
    -o-transition: all .5s ease-out .1s;
    transition: all .5s ease-out .1s;
}
a.img-wrap:hover img,
span.img-wrap:hover img {
    -webkit-transform: matrix(1.04,0,0,1.04,0,0);
    -ms-transform: matrix(1.04,0,0,1.04,0,0);
    transform: matrix(1.04,0,0,1.04,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.wrap {
	width: 100%;
	height: 100%;
	background: #f4f4f4;
}
.wrap .header {
	width: 100%;
	height: 48px;
	background: #c60000;
}
.wrap .header ul {
	width: 1000px;
	height: 48px;
	margin: 0 auto;
	line-height: 48px;
	text-align: left;
	position: relative;
}
.wrap .header ul .logo_img {
	width: 110px;
	height: auto;
	float: left;
	position: absolute;
	left: -110px;
	top: 6px;
}
.wrap .header ul li {
	display: inline-block;
	height: 48px;
	padding: 0 10px;
}
.wrap .header ul li:hover,
.wrap .header ul li.active {
	background: #a00000;
}
.wrap .header ul li a {
	color: #fff;
	font-size: 15px;
	display: inline-block;
}
.wrap .rankNav {
	width: 1000px;
	height: auto;
	margin: 15px auto;
}
.wrap .container {
	width: 1000px;
	height: auto;
	margin: 15px auto;
}
.container .leftModule {
	width: 320px;
	float: left;
}
.adSpace1 {
	width: 300px;
	height: 250px;
	background: #fff;
    padding: 20px 10px;
}
.container .section {
	width: 640px;
	height: auto;
	float: left;
	background: #fff;
	padding: 16px 15px;
	margin-left: 10px;
}
.leftModule .leftList {
	height: auto;
	background: #fff;
	margin-top: 20px;
}
.leftModule .leftList h2,
.container .section .detailHot h2 {
    height: 32px;
    padding: 4px 10px 20px;
    background: #fff;
    position: relative;
}
.leftModule .leftList h2 span,
.container .section .detailHot h2 span {
	font-size: 20px;
    font-weight: 400;
    color: #ec4b4b;
    border-bottom: 2px solid #666;
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    position: relative;
}
.leftModule .leftList h2 span em,
.container .section .detailHot h2 span em {
	position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    background-color: #ec4b4b;
    left: 0;
    bottom: -2px;
    overflow: hidden;
}
.leftModule .leftList .hot-list {
    padding: 0 10px 20px 10px;
}
.leftModule .leftList .hot-list ul.list-item {
	width: 100%;
    height: auto;
    overflow: hidden;
}
.leftModule .leftList .hot-list ul.list-item li {
	float: left;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 15px;
}
.leftModule .leftList .hot-list ul.list-item li span {
	float: left;
    display: block;
    width: 116px;
    height: 68px;
    overflow: hidden;
    font-size: 0;
    position: relative;
}
.leftModule .leftList .hot-list ul.list-item li p {
    float: left;
    height: 50px;
    width: 172px;
    line-height: 25px;
    font-size: 14px;
    color: #333;
    padding-left: 12px;
    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.leftModule .leftList .adSpace {
	width: 300px;
	height: 250px;
	background: #fff;
}
.leftModule .leftList .choose-list {
	padding: 0 10px 20px 10px;
}
.leftModule .leftList .choose-list .choose-item {
	font-size: 14px;
    line-height: 36px;
    margin-bottom: 15px;
}
.leftModule .leftList .choose-list .choose-item li {
	width: 100%;
    border-bottom: 1px solid #ececec;
}
.leftModule .leftList .choose-list a.icp_til {
    width: 40px;
    text-align: center;
    overflow: hidden;
}
.leftModule .leftList .choose-list .icp_dot {
    float: left;
    width: 4px;
    color: #ececec;
}
.leftModule .leftList .choose-list a.icp_dil {
	width: 250px;
    padding-left: 6px;
    overflow: hidden;
    _padding-left: 0;
}
.leftModule .leftList .choose-list a {
	float: left;
    color: #333;
    height: 36px;
}
.leftModule .leftList .likeList {
    width: 300px;
    height: 455px;
    padding: 0 10px;
}
.leftModule .leftList .adSpace1 {
	padding: 0 10px 20px;
}
.leftModule .leftList .list-top {
	width: 100%;
	height: 170px;
	overflow: hidden;
}
.leftModule .leftList .listItem {
    width: 145px;
    height: 125px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
.leftModule .leftList .listItem:nth-child(2n+1) {
	margin-right: 0;
}
.leftModule .rightList .listItem a {
	display: block;
	overflow: hidden;
}
.leftModule .leftList .listItem a img {
    display: block;
    position: relative;
    overflow: hidden;
    width: 145px;
    height: 80px;
}
.leftModule .leftList .listItem a.newTitle {
    display: block;
    max-height: 40px;
    overflow: hidden;
    width: 135px;
    color: #333;
    font-size: 13px;
    line-height: 20px;
    margin-top: 4px;
    padding: 0 5px;
}
.container .section .newText h2 {
	line-height: 36px;
    font-size: 26px;
    color: #333;
    overflow: hidden;
    font-weight: 700;
}
.container .section .newText p.source {
	font-size: 12px;
	line-height: 25px;
	color: #666;
}
.container .section .newText p.textDetail {
	padding: 8px 0px;
    text-indent: 32px;
    font-size: 16px;
    line-height: 26px;
}
.container .section .newText .textImg {
	width: 370px;
	height: auto;
	margin: 10px auto;
}
.container .section .newText .textImg img {
	width: 100%;
	height: auto;
}
.container .section .detailHot {
	margin-top: 22px;
}
.container .section .detailHot h2 {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}
.container .section .detailHot .newsList {
	width: 100%;
	height: auto;
}
.container .section .detailHot .newsList dl:hover,
.container .section .detailHot .newsList .news:hover {
	background: #f2f2f2;
}
.container .section .detailHot .newsList dl {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	flex-flow: row;
	border-bottom: 1px solid #e8e8e8;
	padding: 16px 0 10px 0;
}
.container .section .detailHot .newsList dl dt {
	width: 160px;
	height: 90px;
	overflow: hidden;
}
.container .section .detailHot .newsList dl dd {
	text-align: left;
	padding-left: 16px;
}
.container .section .detailHot .newsList dl dd h2,
.container .section .detailHot .newsList .news h2 {
	background: none;
	padding: 0;
}
.container .section .detailHot .newsList dl dd h2 a,
.container .section .detailHot .newsList .news h2 a {
	display: inline-block;
	font-size: 20px;
	line-height: 32px;
	color: #333;
	text-align: left;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
.container .section .detailHot .newsList p.listSsource {
	font-size: 14px;
	color: #999;
}
.container .section .detailHot .newsList .news{
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0;
}
.container .section .detailHot .newsList .news h2 {
	-webkit-line-clamp: 1;
}
.container .section .detailHot .newsList .news .img-list {
	width: 100%;
	height: 100%;
    margin: 10px 0;
    text-align: left;
}
.container .section .detailHot .newsList .news .img-list a {
	display: block;
	float: left;
    width: 150px;
    height: 90px;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    background: #e8e8e8;
    font-size: 14px;
    line-height: 87px;
    color: #999;
}
.section .detailHot .newsList .news .img-list a:last-child {
	margin-right: 0;
}

.leftModule .leftList .listItem a.newTitle:hover,
.container .leftModule .leftList .hot-list ul.list-item li p:hover,
.container .leftModule .leftList .choose-list a.icp_til:hover,
.container .leftModule .leftList .choose-list a.icp_dil:hover,
.container .section .detailHot .newsList dl dd h2 a:hover,
.container .section .detailHot .newsList .news h2 a:hover,
.container a:hover {
	color: #ee4b4c;
}
.wrap .footer {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #222;
	text-align: center;
	background: #e6e6e6;
	/*position: fixed;
	bottom: 0;
	left: 0;*/
}